/* - - - - - - - - - - - - - - - - - - - - -

 Title : Forms CSS for Asha Impact
 Author : Naveen Gupta
 URL : http://greenapplesolutions.com

 Last Updated : 

- - - - - - - - - - - - - - - - - - - - - */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

html, html.embed {
    background-color: transparent;
}

body {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wufoo {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

#logo {
    display: none;
}

#header {
    display: none;
}

.wufoo label.desc, .wufoo legend.desc {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wufoo input.text,
.wufoo textarea.textarea {
    padding: 5px 2px;
}

.wufoo textarea.textarea {
    width: 80%;
}

.embed .confirm h2 {
    font-size: 16px;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
}

input#saveForm {
    background: #5BC0DE;
    color: #fff;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#errorLi {
    display: none;
}